<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<style>
img{
 width: 25%;
}
</style>
<body>
    <h1>This is an MBTA stop locator:</h1>
    <img src="https://www.logolynx.com/images/logolynx/18/18e62c296bafb27f0ebc9f9ff78fe787.jpeg" alt="MBTA PIC">
    <h1 style="color:Crimson;">Hello and Welcome to our app!</h1>
    <form style="color:DarkMagenta;" action = "http://localhost:5000/nearest" method="post" name="form">
        <h2>Where are you?</h2> <br>
        <h2>Address</h2><br>
        <input size="35" name="Address" placeholder="Address">
        <h2>City</h2><br>
        <input size="25" name="City" placeholder="City">
        <h2>State</h2><br>
        <input size="2" name = "State" maxlength="2">
        <h2>ZIP</h2><br>
        <input name="zip" type="tel" pattern="[0-9]{5}"  placeholder="Zip Code"/>
        <h2>
           <input type="submit" name="Submit">
        </h2>
    </form>
</body>
</html>
